@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap');

// Define fonts for body and headers
$body-font: 'Heebo';
$headers-font: 'Heebo';

// Define variables
$heebo: 'Heebo';

// Define classes to be reused
.heebo {
  font-family: $heebo;
}

h1 {
  font-size: 2.25rem;
  margin-bottom: 0;
}
