// Specific CSS for your home-page
.main-layout {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.7rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.7rem;
}

.main-forms {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.7rem;
  max-width: 1000px;
  margin: auto;
  width: 100%;
}
