// Specific CSS for your home-page
.main-layout {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.container-dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  padding: 0.7rem;
  margin-left: 300px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.7rem;
  margin-left: 300px;
}

.main-forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.7rem;
  max-width: 1000px;
  margin: auto;
  width: 100%;
}
