<div class="dashboard-header">
  <h1>Textos</h1>
  <%# link_to "+ Novo texto", new_admin_text_path, class:"button-black" %>
</div>

<div class="dashboard-table">
  <table>
    <thead>
      <tr>
        <th>
          Título
          <%# sort_link(@q, :title, 'Título') %>
        </th>
        <th>
          Descrição
          <%# sort_link(@q, :created_at, 'Data', default_order: :asc) %>
        </th>
        <th>
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      <% @texts.each do |text| %>
        <tr>
          <td>
            <%= link_to admin_text_path(text) do %>
              <%= text.identifier %>
            <% end %>
          </td>
          <td>
            <%= text.content %>
          </td>
          <td>
            <%= link_to edit_admin_text_path(text) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="table-pagination">
    <%# paginate @texts %>
  </div>
</div>
