<div class='sidebar'>
  <div class='header'>
    <%= link_to root_path do %>
      <h1>Samuel Ramos Arquitetura & Urbanismo</h1>
    <% end %>
    <p>This typeface started as an interpretation of Albert Hollenstein’s famous «Brasilia» from 1958. A second version (G) with vertical terminals was drawn in order to let the modernistic feeling collide with a more humanistic expression. The untypical long tails of /f, /j, /r and /t are emphasized and accompanied with stylistic alternatives to give it a more contemporary feeling.</p>
  </div>

  <div class='pages-menu'>
  </div>

  <div class='social-media'>
    <div class='media-link'>
      <%= link_to "Contato", contact_path %>
      <a href="https://www.instagram.com/_salramos/">Instagram</a>
    </div>
    <div class='media-link'>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
