<% if @projects %>
  <ul>
  <% @projects.each do |project| %>
    <li>
      <h1><%= project.title %></h1>
      <p><%= project.description %></p>
      <% if project.images.attached? %>
        <div class="dashboard-project-image">
          <%= link_to image_tag(project.images.first), project_path(project) %>
        </div>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
