.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem;
  max-width: 300px;

  .header {
    a, a:hover {
      color: unset;
      text-decoration: none;
    }
  }

  .sidebar-list {
    a {
      display: block;
      &:hover {
        border-right: 1px solid $dark-gray;
      }
    }
  }

  .social-media {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
      margin: .15rem;
      flex-grow: 1;
      border-top: 1px solid $dark-gray;
      &:hover {
        border-top: 1px solid $medium-gray;
        text-decoration: none;
      }
    }

    .media-link {
      display: flex;
      flex-direction: row;
    }
  }
}
